@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

body {
  margin: 0;
  padding: 0;
  font: 14px/20px 'Roboto', sans-serif;
}

.main-title {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

.container {
  width: 970px;
  margin: 0 auto;
}